.login-card {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}