<div class="container mt-4">
  <h2>Lista de Contatos</h2>
  <div class="actions-header">
    <button mat-raised-button color="primary" (click)="criarContato()">
      <mat-icon>add</mat-icon> Novo Contato
    </button>
    <!-- <mat-slide-toggle [(ngModel)]="listaPaginada" (change)="ativarDestaivarListaPaginada()">lista Paginada</mat-slide-toggle> -->
    &nbsp;
    <mat-form-field class="example-form-field">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilterPaginado($event)" placeholder="Digite para filtrar" />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortDataPaginado($event)">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let contato"> {{ contato.id }} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let contato">{{ contato.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let contato">{{ contato.email }}</td>
    </ng-container>

    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
      <td mat-cell *matCellDef="let contato">{{ contato.celular }}</td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
      <td mat-cell *matCellDef="let contato">{{ contato.telefone }}</td>
    </ng-container>

    <ng-container matColumnDef="snFavorito">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Favorito</th>
      <td mat-cell *matCellDef="let contato">
        <mat-icon class="{{contato.snFavorito === 'S' ? 'text-warning' : 'text-secondary'}}">
          {{ contato.snFavorito === 'S' ? 'star' : 'star_outline' }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="snAtivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo</th>
      <td mat-cell *matCellDef="let contato">
        <span class="badge" class="{{contato.snAtivo === 'S' ? 'bg-success' : 'bg-danger'}}">
          {{ contato.snAtivo === 'S' ? 'Sim' : 'Não' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="dhCad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Cadastro</th>
      <td mat-cell *matCellDef="let contato">{{ formatarData(contato.dhCad) }}</td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let contato">
        <button mat-icon-button color="primary" (click)="editarContato(contato)">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp;
        <button mat-icon-button color="warn" (click)="excluirContato(contato.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="eventoPaginacao($event)"
    showFirstLastButtons [length]="lengthPage"
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
