<!-- contato-listagem.component.html -->
<div class="container mt-5">
    <h2>Listagem de Contatos</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Celular</th>
          <th>Telefone</th>
          <th>Favorito</th>
          <th>Ativo</th>
          <th>Data Cadastro</th>
          <th>Data Alteração</th>
        </tr>
      </thead>
      <tbody>
        @for (contato of contatos; track contato.id) {
        <tr>
          <td>{{ contato.id }}</td>
          <td>{{ contato.nome }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.celular }}</td>
          <td>{{ contato.telefone || 'N/A' }}</td>
          <td>{{ contato.snFavorito }}</td>
          <td>{{ contato.snAtivo }}</td>
          <td>{{ contato.dhCad || 'N/A' }}</td>
          <td>{{ contato.dhAlt || 'N/A' }}</td>
        </tr>
        }
      </tbody>
    </table>
</div>
  