@if(usarLogout){
<section class="align-right">
    <div class="button-logout">
        <button mat-raised-button color="primary" (click)="logout()">
          <mat-icon>logout</mat-icon> logout
        </button>
    </div>
</section> 
}
@if(!usarLogout){
<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="logar()">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput formControlName="loguin" required>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" required>
      </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</mat-card>
}
  


